<header class=" grid grid-cols-3 bg-blue text-white py-3 px-2">
  <% if defined? path %>
    <%= link_to path, id: "back-btn" do %>
      <i class="material-icons">arrow_back</i>
    <% end %>
  <% else %>
    <i class="material-icons">menu</i>
  <% end %>
  <h2 class="text-center"><%= title %></h2>
</header>