<section class="container min-h-screen max-h-screen flex flex-col justify-evenly items-center px-3">
  <h1 class="font-proxima_bold text-4xl my-auto">Pocket</h1>
  <div class="w-full">
    <%= link_to 'LOG IN', new_user_session_path, class: 'block w-full bg-blue text-center text-white py-3' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'block w-full text-center py-3 text-gray' %>
  </div>
</section>
