<li class="px-4 py-4 mb-5 border border-neutral-300 shadow bg-white flex justify-between gap-3 items-center">
  <h3><%= expense.name %></h3>
  <p class="font-proxima_bold">$<%= expense.amount %></p>
</li>